@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */
header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 2.2s;
}

header nav ul {
  list-style-type: none;
}

header nav li {
  display: inline-block;
  padding: 0 40px;
}

/* img flutuar */
@keyframes flutuar {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-55px);
  }
}

.img {
  animation: flutuar 2s ease-in-out infinite alternate;
}

/* Bounce */
@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(9px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-custom {
  animation: custom-bounce 1s infinite;
}
